{% extends "base.html" %}

{% block title %}Hasta Ekle{% endblock %}

{% block content %}

<div class="container mt-4">
    <div class="mb-3">
        <a href="{{ url_for('app_bp.patient_bp.create_patient_route') }}" class="btn btn-primary">Hasta Ekle</a>
    </div>
    {% if patients|length == 0 %}
    <div class="alert alert-info" role="alert">
        Daha önce eklenmiş hasta bulunamadı. Hasta eklemek için lütfen <a
            href="{{ url_for('app_bp.patient_bp.create_patient_route') }}" class="alert-link">buraya</a> tıklayın.
    </div>
    {% else %}
    <div class="d-flex justify-content-between align-items-end">
        <h2>Hastalar</h2>
        <h5>Eklenen Hasta: {{patients|length}}</h5>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Protokol</th>
                    <th>Alan</th>
                    <th>Yaş</th>
                    <th>Cinsiyet</th>
                    <th>Şikayet</th>
                    <th>Sonuç</th>
                    <th>Eylem</th>
                </tr>
            </thead>
            <tbody>
                {% for patient in patients %}
                <tr class="patient-row" data-url="{{ url_for('app_bp.patient_bp.get_patient_route', id=patient.id) }}">
                    <td>{{ patient.protokol }}</td>
                    <td>{{ patient.triaj }}</td>
                    <td>{{ patient.age }}</td>
                    <td>{{ patient.gender }}</td>
                    <td>{{ patient.complaints }}</td>
                    <td>{% if not patient.conclusion.result %}
                        <button class="btn btn-primary btn-sm edit-btn" data-bs-toggle="modal"
                            data-bs-target="#editModal" data-id="{{ patient.id }}">
                            Sonuç Ekle
                        </button>
                        {% else %}
                        {{ patient.conclusion.result }}
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ url_for('app_bp.patient_bp.update_patient_route', id=patient.id) }}"
                            class="btn btn-warning btn-sm">
                            <i class="fas fa-edit"></i>
                        </a>
                        <button class="btn btn-danger btn-sm delete-btn" data-id="{{ patient.id }}" data-toggle="modal"
                            data-target="#deleteModal">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Hastayı Sil</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="deleteForm" method="post" action="">
                <div class="modal-body">
                    <input type="hidden" id="patient_id" name="id" />
                    <p>Bu hastayı silmek istediğinizden emin misiniz?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                    <button type="submit" class="btn btn-danger">Sil</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Edit Result Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Sonuç Ekle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="editForm" method="post" action="">
                <div class="modal-body">
                    <input type="hidden" id="edit_patient_id" name="id" />
                    <div class="form-group">
                        <label for="result">Sonuç:</label>
                        <input type="text" class="form-control" id="result" name="result" required />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                    <button type="submit" class="btn btn-primary">Ekle</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const rows = document.querySelectorAll('.patient-row');
        rows.forEach(row => {
            row.addEventListener('click', function () {
                window.location.href = row.getAttribute('data-url');
            });
        });

        const editButtons = document.querySelectorAll('.edit-btn');
        editButtons.forEach(button => {
            button.addEventListener('click', function (event) {
                event.stopPropagation();
                const id = button.getAttribute('data-id');
                const modal = new bootstrap.Modal(document.getElementById('editModal'));
                document.getElementById('edit_patient_id').value = id;
                document.querySelector('#editModal form').action = `/patient/edit-result/${id}`;
                modal.show();
            });
        });

        const deleteButtons = document.querySelectorAll('.delete-btn');
        deleteButtons.forEach(button => {
            button.addEventListener('click', function (event) {
                event.stopPropagation();
                const id = button.getAttribute('data-id');
                const form = document.getElementById('deleteForm');
                form.action = '{{ url_for("app_bp.patient_bp.delete_patient_route", id=0) }}'.replace('0', id);
                const modal = new bootstrap.Modal(document.getElementById('deleteModal'));
                modal.show();
                modal.querySelector('#patient_id').value = id;
            });
        });
    });
</script>

{% endblock %}